@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, html { 
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif; 
}

html, body { 
    margin: 0; 
    padding: 0; 
    background-color: #f6f3fc; /* Fondo claro */
}

main {
    display: flex;
    flex-direction: column; /* Para alinear elementos en columna */
    align-items: center; /* Centra horizontalmente */
    margin: 0 auto; /* Asegura que el contenedor esté centrado en la página */
    padding: 20px; /* Añade un poco de espacio alrededor */
    grid-template-areas: 
        "title title"    
        "contenido proyectos"; /* Ahora 'contenido' y 'proyectos' en la segunda fila */
}

.title { 
    grid-area: title; 
    padding-left: 30px; 
    text-align: center; /* Centrar el título */
}

.content { 
    grid-area: contenido; /* Asegúrate de que el contenedor de párrafos esté aquí */
    padding: 0; 
    text-align: justify; 
    word-break: normal; 
    padding-left: 30px; /* Añado padding para consistencia */
}

#right { 
    padding: 50px; 
    padding-top: 0; 
    grid-area: proyectos; 
}

h1 { 
    font-size: 5em; 
    font-weight: bold; 
    color: #3f3f3f; 
}

p { 
    font-size: 25px; 
}

.proyectos { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 30px; 
    row-gap: 40px; 
    height: 400px; 
    overflow-y: auto; 
}

.proyectos nav { 
    display: contents; 
}

.proyectos a { 
    display: block; 
}

.proyectos nav a img { 
        width: 100%; /* O un tamaño específico, como 300px */
        max-width: 300px; /* Asegúrate de que no sobrepase el contenedor */
        border-radius: 20px; 
        margin-bottom: 1ex; 
        border: 3px solid transparent; 
}

.proyectos nav a:hover img { 
    filter: blur(5px); 
    opacity: 90%; 
}

button { 
    border-radius: 20px; 
    padding: 10px 20px; 
    background-color: rgb(230, 230, 230); 
    font-size: 14px; 
    font-weight: bold; 
    color: #3f3f3f; 
    border: none; 
    cursor: pointer; 
}

button:hover { 
    background-color: #3f3f3f; 
    color: black; 
    font-weight: bold; 
}

@media (max-width: 900px) { 
    main { 
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        grid-template-areas: 
            "title" 
            "contenido" 
            "proyectos"; 
        margin: 0 10px; 
    }
    
    h1 { 
        font-size: 3em; 
    }
}


