@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f6f3fc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.title {
    text-align: center;
    padding: 30px;
}

.content {
    text-align: justify;
    padding: 0 30px;
}

#right {
    width: 100%;
    margin-top: 20px;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    color: #3f3f3f;
}

p {
    font-size: 25px;
}

/* Contenedor de las imágenes en una fila */
.proyectos {
    display: flex; /* Establece las imágenes en una fila */
    gap: 30px; /* Espacio entre las imágenes */
    overflow-x: auto; /* Activa el desplazamiento horizontal */
    padding: 20px;
    scroll-snap-type: x mandatory; /* Hace que las imágenes se alineen correctamente al hacer scroll */
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
}

.proyectos a {
    display: block;
    position: relative;
    width: 300px; /* Ancho de cada imagen */
    height: 300px; /* Alto de cada imagen */
    overflow: hidden;
}

.proyectos a img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    transition: opacity 0.3s ease;
}

.proyectos a:hover img {
    opacity: 0.3; /* Reduce opacidad al pasar el mouse */
}

.proyectos a .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.proyectos a:hover .caption {
    opacity: 1; /* Muestra el título al pasar el mouse */
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    font-weight: bold;
    color: #3f3f3f;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3f3f3f;
    color: black;
    font-weight: bold;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 900px) {
    h1 {
        font-size: 3em;
    }
}




